*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
  width: 100vw;
  height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
}
body > div {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(135, 235, 218);
  width: 40%;
}
h2 {
  text-align: center;
}
nav {
  width: 100%;
   display: flex;
  gap: 10px;
}
nav > input {
  width: 79%;
}
nav > button {
  width: 29%;
}
li{
  list-style: inside;
}